#home{
    height: 370px;
    padding: 3px 68px;

}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;

}
#navbar{
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
.h-primary {
    font-size: 2rem;
    padding: 12px;
    font-family: cursive;
  
    
    

}

#services{
    flex-direction: column;
    

}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
  
}
.packages{
    flex-direction: column;
    

}
.packages .box1{
    width: 340px;
    margin: 10px;
 
  
}
.packages .box2{
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: -80px;
 
  
}
.packages .box1 img{
    width: 100%;
 
  }
  .nav-btn{
    display: none;
  }
  .h1{
    font-size: revert;
  }
  .pare{
    font-size: large;
  }
  #about-box1 p{
    font-family:serif;
    font-size:x-small;
    display: flex;
    margin: 10px;
    
 }
 #about-box1 .pe1{
   display: none;
    
 }
 #about-box{
    margin: 0px;
    width: 60%;
 }